.image-container {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.suhbah-logo {
  height: 200px;
  width: 300px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: calibri;
  font-size: 23px;
  background-color: #03989e;
  border: 2px solid black;
  border-radius: 10%;
  height: 300px;
  width: 300px;
  margin: 10px;
}

.border:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

@media only screen and (max-width: 768px) {
  .border {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .border {
    width: 90%;
  }
}
