@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background-color: rgb(179, 223, 223);
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.admin-description-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (max-width: 768px) {
  .admin-description-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 480px) {
  .admin-description-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.admin-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
}


.page-details a :hover{
  color:rgb(36, 85, 158);
}

header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.page-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.page-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.page-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.page-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}