/* p{
    cursor: pointer;
} */

.search-field input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 50%; */
    /* background-color: blue; */
  }

.links{
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
  }

.workout-details a :hover{
    color:rgb(36, 85, 158);
}


/* .searchfilter{
    display: flex;
    justify-content: center;
} */

link p{
    color:rgb(36, 85, 158);
}
/* p:hover{
    color: aqua;
} */