@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
    background-color: rgb(179, 223, 223);
  }
  
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}


.masjid-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 65%; 
}

.masjid-details a :hover{
    color:rgb(36, 85, 158);
}
  

.masjid-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.masjid-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.masjid-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

body {
    background-color: rgb(179, 223, 223);
  }
  
  .url-links {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  

.search-field input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.links{
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
  }

  a :hover{
    color:rgb(36, 85, 158);
}


link p{
    color:rgb(36, 85, 158);
}

