@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
    background-color: rgb(179, 223, 223);
  }
  

a {
  text-decoration: none;
}


.masjids-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  margin-left: 5%;
  width: 65%; 

}

.masjids-details a :hover{
    color:rgb(36, 85, 158);
}
  

.masjids-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.masjids-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.masjids-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

body {
    background-color: rgb(179, 223, 223);
  }
  
  .urls-links {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
  }
  

.links{
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
  }

 a :hover{
    color:rgb(36, 85, 158);
}


link p{
    color:rgb(36, 85, 158);
}

