html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #b6ccd7;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}
