html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Footer {
  background-color: #b6ccd7;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-Fontent {
  max-width: 960px;
  margin: 0 auto;
}

.Footer p {
  margin: 0;
}
