body {
  background-color: rgb(179, 223, 223);
}


.sub-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.small-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-button button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.join-button button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sentence{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    z-index: 1;
  }
  .carousel {
    background-color: #b6ccd7;
    height: 400px; 
    width: 100%; 
  }
        

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    z-index: 1;
  }
  
  .prev {
    left: 20px;
  }
  
  .next {
    right: 20px;
  }
  

  .carousel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 300px;
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the carousel horizontally */
    background-color: #6097b3;
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.473);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
  }
      
  .carousel-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.664);
  }
  
.about-button{
    display: flex;
    justify-content: center;
}
.join-button{
    display: flex;
    justify-content: center;   
}
h1{
    display: flex;
    justify-content: center;

}
h2{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
}
.line{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}